// Colors

// Light Mode

$background: #FFFAFF;
$primary: #72faca;
$primary-light: #37ecac;
$secondary: #211D1C;
$btn-primary: #37ecac;
$btn-secondary: #72faca;

// Dark Mode

$background-dark: #333333;
$primary-dark: #13c485;
$secondary-dark: #FFFAFF;
$btn-primary-dark: #37ecac;
$btn-secondary-dark: #72faca;

// z-index

$spinner-overlay: 1000;
$spinner: 1001;