// Colors

// Light Mode

$background: #FFFAFF;
$primary: #00F5D4;
$secondary: #211D1C;
$btn-primary: #4C86A8;
$btn-secondary: #5688C7;

// Dark Mode

$background-dark: #333333;
$primary-dark: #00e0c0;
$secondary-dark: #FFFAFF;
$btn-primary-dark: #4C86A8;
$btn-secondary-dark: #5688C7;

// z-index

$spinner-overlay: 1000;
$spinner: 1001;