@import "../../../../styles/variables.scss";

.dropArea {
    border: dashed 2px $background-dark !important;
}

.dropArea>svg>path {
    fill: $background-dark !important;
}

.dropAreaLight {
    border: dashed 2px $background !important;
}

.dropAreaLight>svg>path {
    fill: $background !important;
}

