@import "../../../../styles/variables.scss";

.title {
    font-family: 'Exo 2', sans-serif;
}

.dropArea {
    border: dashed 2px $background-dark !important;
}

.dropArea>svg>path {
    fill: $background-dark !important;
}