@import '../../../../styles/variables.scss';

.spinner {
  position: relative;
  text-align: center;
  margin: .5rem;
}
  
.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
}
  
.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.global {
  z-index: $spinner-overlay;
}